# Ignore everything...
*
!*/


# ... except:
!/.gitignore
!/.github/README/*
!/.github/FUNDING.yml

!/README.md

!/THE FINALS/*/*/_subtitles.txt
!/THE FINALS/*/*/*.png
!/THE FINALS/*/*/*.jpg
!/THE FINALS/*/*/*.jpeg

!/ARC Raiders/*/*/_subtitles.txt
!/ARC Raiders/*/*/*.png
!/ARC Raiders/*/*/*.jpg
!/ARC Raiders/*/*/*.jpeg
